<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div class="content" fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of data">
    <mat-card class="mat-elevation-z4" >
      <mat-card-header style="display: flex; justify-content: center;">
        <mat-card-title >Post id : {{item.id}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p><b>Name : </b>{{item.title}}</p>
        <p><b>Description : </b>{{item.body}}</p>      
          <h3>UserId : {{item.userId}}</h3>
          <h3>UserName : {{userlist[item.userId - 1]}}</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>